
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0c0c0c, #1a1a1a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.login-box {
  background: #141414;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.login-box:hover {
  transform: scale(1.02);
}


.logo {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #e50914;
}


h2 {
  margin-bottom: 25px;
  color: #fff;
}


.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: #222;
  color: #fff;
  transition: background 0.3s;
}

.input-group input:focus {
  background: #333;
}


.btn-login {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background-color: #f40612;
}


.extra {
  margin-top: 15px;
  font-size: 0.9rem;
}

.extra a {
  color: #e50914;
  text-decoration: none;
}

.extra a:hover {
  text-decoration: underline;
}
